@import './tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-body);
  background-color: var(--color-osso);
  color: var(--color-fango);
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100dvh;
}